<p id="notice"><%= notice %></p>
<div class="invoice-show-container">
  <section class="left-column">
      <h1>#<%= @invoice.invoice_number %></h1>
      <table>
        <tr>
          <th>Date Completed</th>
          <th>Total Cost</th>
        </tr>
        <tr>
          <td><%= @invoice.due %></td>
          <td><%= number_to_currency(@invoice.total) %></td>
        </tr>
        <tr>
          <th>Project Description</th>
        </tr>
        <tr>
          <td><%= @invoice.description %></td>
        </tr>
      </table>
  </section>
  <section class="right-column">
    <h3>Item List</h3>
    <table>
      <tr class="item-headers">
        <th>Name</th>
        <th>Qty</th>
        <th>Cost</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.qty %></td>
          <td><%= item.cost %></td>
          <td class="trash-icon"><%= link_to '', item_url(item, invoice_id: @invoice.id), method: :delete, class: 'fas fa-trash' %></td>
          <!-- <%= link_to '', item_path(item), method: :delete, class: 'fas fa-trash' %> -->
        </tr>
      <% end %>
    </table>
    <%= render '/items/form', invoice: @invoice.id %>
  </section>

    <!-- <%= link_to 'Edit', edit_invoice_path(@invoice) %> |
    <%= link_to 'Back', invoices_path %> -->
</div>


