<%= form_with(url: items_url, method: 'POST' ) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'QTY' %>
    <%= form.number_field :qty%>
  </div>

  <div class="field">
    <%= form.label 'Cost' %>
    <%= form.number_field :cost, step: 0.5 %>
  </div>

  <%= form.hidden_field :invoice_id, value:invoice %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>